.content-widget {
  font-size: 12px;
  margin: 0 5%;
}

  .content-widget h3 {
    font-size: 12px;
    color: #6F6F6F;
    font-weight:bold;
    margin: 0;
  }

  .content-widget h4 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  .content-widget p {
    margin: 0;
  }

  .content-widget img {
    display: block;
    width: 100%;
  }

  .content-widget a {
    margin-left: 15px;
    display: list-item;
    list-style-type: disc;
  }
