.accordion {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  color: black;
}

  .accordion ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .accordion ol li {
      margin: 10px 0px;
      padding: 0;
    }

      .accordion ol li h4 {
        color: black;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 0px;
      }

  .accordion .entry {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: -1px 0;
    padding: 10px 0;
  }

    .accordion .entry h3 {
      color: #AD1921;
      line-height: 1.8em;
      font-size: 14px;
      font-weight: bold;
      margin: 0px;
      transition: color .3s;
    }

    .accordion .opened h3 {
      color: #19171b;
      transition: color .7s;
    }

      .accordion .entry h3:after {
        content: "";
        display: inline-block;
        float: right;
        width: 0;
        height: 0;
        border-left: 15px solid grey;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transform: rotate(0deg);
        transition: transform .3s;
      }

        .accordion .entry:hover {
          cursor: pointer;
        }

        .accordion .entry:hover h3:after {
          border-left: 15px solid #AD1921;
        }

  .accordion .entry .details {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s;
  }

  .accordion .opened {
    border-top-width: 2px;
    border-bottom-width: 2px;
    margin: 0;
  }

    .accordion .opened .details {
      display: block;
      max-height: 1000px;
      transition: max-height .7s;
    }

      .accordion .opened  h3:after{
        transform: rotate(90deg);
        transition: transform .7s;
      }
